Manifest.toml
docs/src/tutorials/*.md
docs/src/howto/*.md
!docs/src/tutorials/index.md
!docs/src/howto/index.md
docs/src/tutorials/*.png
docs/src/howto/*.png
docs/src/SimpleSDMDatasets/catalogue/*.md
docs/build
docs/src/datasets
docs/node_modules
.vscode
