Manifest.toml
docs/src/manual/*.md
!docs/src/manual/index.md
docs/src/references.bib
docs/src/manual/*.png
docs/src/SimpleSDMDatasets/catalogue/*.md
docs/src/reference/changelog/*.md
docs/build
docs/src/datasets
docs/node_modules
.vscode
0022970-*
0065301-*
0046174-*