/* .vitepress/theme/custom.css */
:root {
    --pl-green-dark: rgba(17, 79, 84, 1);
    --pl-green-light: rgba(29, 130, 101, 1);
    --pl-blue: rgba(46, 83, 133, 1);
    --pl-soft-light: rgba(29, 130, 101, 0.24);
    --vp-c-bg-soft: #f8f8fa;
}

.dark {
    --pl-soft-light: rgba(29, 130, 101, 0.14);
}

:root {
    --vp-sidebar-bg-color: var(--vp-c-bg);
    --vp-nav-bg-color: var(--vp-c-bg);
    --vp-c-brand-1: var(--pl-blue);
    --vp-c-brand-2: var(--pl-green-light);
    --vp-c-brand-3: var(--pl-green-dark);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);
    --vp-code-font-size: .8em;

    --vp-custom-block-info-border: var(--vp-c-important-2);
    --vp-custom-block-info-text: var(--vp-c-text-1);
    --vp-custom-block-info-bg: transparent;
    --vp-custom-block-info-code-bg: transparent;

    --vp-custom-block-tip-border: var(--vp-c-tip-2);
    --vp-custom-block-tip-text: var(--vp-c-text-1);
    --vp-custom-block-tip-bg: transparent;
    --vp-custom-block-tip-code-bg: transparent;

    --vp-custom-block-warning-border: var(--vp-c-warning-2);
    --vp-custom-block-warning-text: var(--vp-c-text-1);
    --vp-custom-block-warning-bg: transparent;
    --vp-custom-block-warning-code-bg: transparent;

    --vp-custom-block-danger-border: var(--vp-c-danger-2);
    --vp-custom-block-danger-text: var(--vp-c-text-1);
    --vp-custom-block-danger-bg: transparent;
    --vp-custom-block-danger-code-bg: transparent;

    --vp-custom-block-details-border: var(--vp-c-gutter);
    --vp-custom-block-details-text: var(--vp-c-text-2);
    --vp-custom-block-details-bg: var(--vp-c-bg);
    --vp-custom-block-details-code-bg: transparent;
}

.custom-block {
    border-radius: 0px;
}

.vp-doc h2 {
    margin: 98px 0 16px;
}

.vp-doc div[class~="language-"] {
    background-color: var(--vp-c-bg);
    color: var(--vp-c-text-1);
    border-left: 1px solid var(--vp-c-gray-3);
    border-radius: 0px;
}

.vp-doc div[class*="language-julia"] {
    background-color: var(--vp-c-bg-soft);
    border-left: 1px solid var(--vp-c-gray-2);
    border-radius: 0px;
}

.info .custom-block-title::before {
    content: "Information: ";
    color: var(--vp-custom-block-info-border);
}

.tip .custom-block-title::before {
    content: "Tip: ";
    color: var(--vp-custom-block-tip-border);
}

.warning .custom-block-title::before {
    content: "Warning: ";
    color: var(--vp-custom-block-warning-border);
}

.danger .custom-block-title::before {
    content: "Danger: ";
    color: var(--vp-custom-block-danger-border);
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--pl-blue), var(--pl-green-light), var(--pl-green-dark));
}

.VPSidebar {
    border-right: 1px solid var(--vp-c-gutter);
}

:root {
    --vp-home-hero-image-background-image: linear-gradient(-45deg,
            var(--pl-blue) 30%,
            var(--pl-green-light) 30%,
            var(--pl-green-dark));
    --vp-home-hero-image-filter: blur(40px);
}

.VPImage .image-src {
    max-width: 300px;
    max-height: 300px;
}

.jldocstring.custom-block {
    border: 1px solid var(--vp-c-gray-2);
    color: var(--vp-c-text-1)
}

.jldocstring.custom-block summary {
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    margin: 0 0 8px;
}

.citation dl {
    display: grid;
    grid-template-columns: max-content auto;
}

.citation dt {
    grid-column-start: 1;
}

.citation dd {
    grid-column-start: 2;
    margin-bottom: 0.75em;
}

.citation ul {
    padding: 0 0 2.25em 0;
    margin: 0;
    list-style: none !important;
}

.citation ul li {
    text-indent: -2.25em;
    margin: 0.33em 0.5em 0.5em 2.25em;
}

.citation ol li {
    padding-left: 0.75em;
}