@font-face {
    font-family: JuliaMono-Regular;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.056/JuliaMono-Medium.woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --vp-font-family-base: "FigTree", "Inter", "Pretendard", system-ui, sans-serif;
    --vp-font-family-mono: JuliaMono-Regular, monospace;
}

.VPHero .name {
    font-weight: 700;
}

.VPHero .tagline {
    font-weight: 350;
}
