@font-face {
    font-family: JuliaMono-Regular;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.056/JuliaMono-Regular.woff2");
}

:root {
    --vp-font-family-mono: JuliaMono-Regular;
}

.VPHero .name {
    font-weight: 900;
}

.VPHero .tagline {
    font-weight: 350;
}
