@font-face {
    font-family: JuliaMono-Medium;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.056/JuliaMono-Medium.woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --vp-font-family-base: "Manrope", system-ui;
    --vp-font-family-mono: JuliaMono-Light;
}