name: Testing

on:
  schedule:
    - cron: '0 0 * * 1,3,5'
  push:
    branches:
      - main
  pull_request:

jobs:
  GBIF:
    name: "GBIF"
    runs-on: "ubuntu-latest"
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
      - name: "Bootstrap the package"
        run: julia --project=./GBIF GBIF/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: GBIF
      - uses: julia-actions/julia-runtest@latest
        with:
          project: GBIF
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: GBIF/src
      - run: mv lcov.info GBIF-lcov.info
      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: GBIF-lcov.info
  Phylopic:
    name: "Phylopic"
    runs-on: "ubuntu-latest"
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
      - name: "Bootstrap the package"
        run: julia --project=./Phylopic Phylopic/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: Phylopic
      - uses: julia-actions/julia-runtest@latest
        with:
          project: Phylopic
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: Phylopic/src
      - run: mv lcov.info Phylopic-lcov.info
      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: Phylopic-lcov.info
  SimpleSDMLayers:
    name: "SimpleSDMLayers"
    runs-on: "ubuntu-latest"
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
      - name: "Bootstrap the package"
        run: julia --project=./SimpleSDMLayers SimpleSDMLayers/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: SimpleSDMLayers
      - uses: julia-actions/julia-runtest@latest
        with:
          project: SimpleSDMLayers
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: SimpleSDMLayers/src
      - run: mv lcov.info SimpleSDMLayers-lcov.info
      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: SimpleSDMLayers-lcov.info
  SimpleSDMDatasets:
    name: "SimpleSDMDatasets"
    runs-on: "ubuntu-latest"
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
      - name: "Bootstrap the package"
        run: julia --project=./SimpleSDMDatasets SimpleSDMDatasets/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: SimpleSDMDatasets
      - uses: julia-actions/julia-runtest@latest
        with:
          project: SimpleSDMDatasets
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: SimpleSDMDatasets/src
      - run: mv lcov.info SimpleSDMDatasets-lcov.info
      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: SimpleSDMDatasets-lcov.info
  Fauxcurrences:
    name: "Fauxcurrences"
    runs-on: "ubuntu-latest"
    needs: [GBIF, SimpleSDMLayers]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
      - name: "Bootstrap the package"
        run: julia --project=./Fauxcurrences Fauxcurrences/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: Fauxcurrences
      - uses: julia-actions/julia-runtest@latest
        with:
          project: Fauxcurrences
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: Fauxcurrences/src
      - run: mv lcov.info Fauxcurrences-lcov.info
      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: Fauxcurrences-lcov.info
  SpeciesDistributionToolkit:
    needs: [GBIF, Fauxcurrences, SimpleSDMLayers, SimpleSDMDatasets, Phylopic]
    name: "SpeciesDistributionToolkit"
    runs-on: "ubuntu-latest"
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
      - name: "Bootstrap the package"
        run: julia --project=. bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        with:
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: src
      - run: mv lcov.info SpeciesDistributionToolkit-lcov.info
      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: SpeciesDistributionToolkit-lcov.info
  Codecoverage:
    name: "Upload coverage"
    needs: [SpeciesDistributionToolkit]
    if: ${{ always() }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: coverage
          path: ./codecov
      - name: Check the coverage content
        run: ls -lah ./codecov
      - name: Concatenate
        run: cat ./codecov/*.info >> ./lcov.info
      - uses: codecov/codecov-action@v2
        with:
          file: ./lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
