name: Monorepo tests

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
  pull_request:

jobs:
  GBIF:
    name: "GBIF"
    runs-on: "ubuntu-latest"
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v1
      - name: "Bootstrap the package"
        run: julia --project=./GBIF GBIF/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: GBIF
      - uses: julia-actions/julia-runtest@latest
        with:
          project: GBIF
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: GBIF
  Codecoverage:
    name: "Upload coverage"
    needs: [SpeciesDistributionToolkit]
    if: ${{ always() }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: codecoverage
          path: ./codecov
      - name: Check the coverage content
        run: ls -lah ./codecov
      - uses: codecov/codecov-action@v2
        with:
          file: ./codecov/*.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
