name: Testing

on:
  schedule:
    - cron: '0 0 * * 1,3,5'
  push:
    branches:
      - main
  pull_request:

jobs:
  OccurrencesInterface:
    name: "OccurrencesInterface"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./OccurrencesInterface OccurrencesInterface/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: OccurrencesInterface
      - uses: julia-actions/julia-runtest@latest
        with:
          project: OccurrencesInterface
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: OccurrencesInterface/src
      - run: mv lcov.info OccurrencesInterface-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: occ-${{ matrix.julia-version }}-coverage
          path: OccurrencesInterface-lcov-${{ matrix.julia-version }}.info
  GBIF:
    name: "GBIF"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    needs: [OccurrencesInterface]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./GBIF GBIF/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: GBIF
      - uses: julia-actions/julia-runtest@latest
        with:
          project: GBIF
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: GBIF/src
      - run: mv lcov.info GBIF-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: gbif-${{ matrix.julia-version }}-coverage
          path: GBIF-lcov-${{ matrix.julia-version }}.info
  Phylopic:
    name: "Phylopic"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./Phylopic Phylopic/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: Phylopic
      - uses: julia-actions/julia-runtest@latest
        with:
          project: Phylopic
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: Phylopic/src
      - run: mv lcov.info Phylopic-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: phylopic-${{ matrix.julia-version }}-coverage
          path: Phylopic-lcov-${{ matrix.julia-version }}.info
  SimpleSDMLayers:
    name: "SimpleSDMLayers"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./SimpleSDMLayers SimpleSDMLayers/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: SimpleSDMLayers
      - uses: julia-actions/julia-runtest@latest
        with:
          project: SimpleSDMLayers
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: SimpleSDMLayers/src
      - run: mv lcov.info SimpleSDMLayers-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: layers-${{ matrix.julia-version }}-coverage
          path: SimpleSDMLayers-lcov-${{ matrix.julia-version }}.info
  SimpleSDMDatasets:
    name: "SimpleSDMDatasets"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./SimpleSDMDatasets SimpleSDMDatasets/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: SimpleSDMDatasets
      - uses: julia-actions/julia-runtest@latest
        with:
          project: SimpleSDMDatasets
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: SimpleSDMDatasets/src
      - run: mv lcov.info SimpleSDMDatasets-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: datasets-${{ matrix.julia-version }}-coverage
          path: SimpleSDMDatasets-lcov-${{ matrix.julia-version }}.info
  SimpleSDMPolygons:
    name: "SimpleSDMPolygons"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./SimpleSDMPolygons SimpleSDMPolygons/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: SimpleSDMPolygons
      - uses: julia-actions/julia-runtest@latest
        with:
          project: SimpleSDMPolygons
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: SimpleSDMPolygons/src
      - run: mv lcov.info SimpleSDMPolygons-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: pseudo-${{ matrix.julia-version }}-coverage
          path: SimpleSDMPolygons-lcov-${{ matrix.julia-version }}.info
  Fauxcurrences:
    name: "Fauxcurrences"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    needs: [OccurrencesInterface, SimpleSDMLayers]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./Fauxcurrences Fauxcurrences/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: Fauxcurrences
      - uses: julia-actions/julia-runtest@latest
        with:
          project: Fauxcurrences
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: Fauxcurrences/src
      - run: mv lcov.info Fauxcurrences-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: faux-${{ matrix.julia-version }}-coverage
          path: Fauxcurrences-lcov-${{ matrix.julia-version }}.info
  PseudoAbsences:
    name: "PseudoAbsences"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    needs: [OccurrencesInterface, SimpleSDMLayers]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./PseudoAbsences PseudoAbsences/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: PseudoAbsences
      - uses: julia-actions/julia-runtest@latest
        with:
          project: PseudoAbsences
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: PseudoAbsences/src
      - run: mv lcov.info PseudoAbsences-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: pseudo-${{ matrix.julia-version }}-coverage
          path: PseudoAbsences-lcov-${{ matrix.julia-version }}.info
  SDeMo:
    name: "SDeMo"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=./SDeMo SDeMo/bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: SDeMo
      - uses: julia-actions/julia-runtest@latest
        with:
          project: SDeMo
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: SDeMo/src
      - run: mv lcov.info sdemo-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: sdemo-${{ matrix.julia-version }}-coverage
          path: SDeMo-lcov-${{ matrix.julia-version }}.info
  SpeciesDistributionToolkit:
    needs: [GBIF, Fauxcurrences, SimpleSDMLayers, SimpleSDMDatasets, Phylopic, SDeMo, OccurrencesInterface]
    name: "SpeciesDistributionToolkit"
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix. julia-version }}
      - name: "Bootstrap the package"
        run: julia --project=. bootstrap.jl
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        with:
          annotate: true
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: src
      - run: mv lcov.info SpeciesDistributionToolkit-lcov-${{ matrix.julia-version }}.info
      - uses: actions/upload-artifact@v4
        with:
          name: sdt-${{ matrix.julia-version }}-coverage
          path: SpeciesDistributionToolkit-lcov-${{ matrix.julia-version }}.info
  Codecoverage:
    name: "Upload coverage"
    needs: [SpeciesDistributionToolkit]
    if: ${{ always() }}
    runs-on: "ubuntu-latest"
    strategy:
        matrix:
            julia-version: ["1", "lts", "pre"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v4
        with:
          name: sdt-${{ matrix.julia-version }}-coverage
          path: ./codecov
      - uses: actions/download-artifact@v4
        with:
          name: faux-${{ matrix.julia-version }}-coverage
          path: ./codecov
      - uses: actions/download-artifact@v4
        with:
          name: pseudo-${{ matrix.julia-version }}-coverage
          path: ./codecov
      - uses: actions/download-artifact@v4
        with:
          name: datasets-${{ matrix.julia-version }}-coverage
          path: ./codecov
      - uses: actions/download-artifact@v4
        with:
          name: layers-${{ matrix.julia-version }}-coverage
          path: ./codecov
      - uses: actions/download-artifact@v4
        with:
          name: phylopic-${{ matrix.julia-version }}-coverage
          path: ./codecov
      - uses: actions/download-artifact@v4
        with:
          name: gbif-${{ matrix.julia-version }}-coverage
          path: ./codecov
      - uses: actions/download-artifact@v4
        with:
          name: occ-${{ matrix.julia-version }}-coverage
          path: ./codecov
      - name: Check the coverage content
        run: ls -lah ./codecov
      - name: Concatenate
        run: cat ./codecov/*.info >> ./lcov.info
      - uses: codecov/codecov-action@v2
        with:
          file: ./lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
