name: Monorepo tests

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
  pull_request:

jobs:
  SimpleSDMDatasets:
    name: ${{ matrix.package }} on Julia ${{ matrix.version }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        version: ['1.8']
        os: ['ubuntu-latest']
        arch: ['x64']
        experimental: [false]
        package: ['SimpleSDMDatasets', 'GBIF', '@.']
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: ${{ matrix.package }}
      - uses: julia-actions/julia-runtest@latest
        with:
          project: ${{ matrix.package }}
          annotate: true
        env:
          PYTHON: ""
          GKSwstype: "100"
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: ./lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
