name: Monorepo tests

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
  pull_request:

jobs:
  RunAllTests:
    name: [${{ matrix.version }}] ${{ matrix.package }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        version: ['1.8']
        os: ['ubuntu-latest']
        arch: ['x64']
        experimental: [true]
        package: ['SimpleSDMDatasets', 'GBIF', 'Fauxcurrences', 'SimpleSDMLayers', '@.']
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: Setup the component packages (globally)
        run: julia --project bootstrap.jl
      - name: Check the monorepo status
        run: julia --project -e "import Pkg; Pkg.status()"
      - name: Bootstrap ${{ matrix.package }}
        run: julia --project=./${{ matrix.package }} ${{ matrix.package }}/bootstrap.jl
        if: ${{ matrix.package != '@.' }}
      - uses: julia-actions/julia-buildpkg@latest
        with:
          project: ${{ matrix.package }}
      - uses: julia-actions/julia-runtest@latest
        with:
          project: ${{ matrix.package }}
          annotate: true
        env:
          PYTHON: ""
          GKSwstype: "100"
      - uses: julia-actions/julia-processcoverage@v1
      - uses: actions/upload-artifact@v3
        with:
          name: codecoverage
          path: ./lcov.info
  ProcessCoverage:
    needs: RunAllTests
    name: "Upload coverage"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - uses: codecov/codecov-action@v1
        with:
          file: ./lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
