name: Documentation
on:
  push:
    branches: [main]
    tags: '*'
  pull_request:

jobs:
  Documenter:
    permissions:
      contents: write
      pull-requests: read
      statuses: write
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.8'
      - uses: julia-actions/cache@v1
      - name: Setup the component packages (globally)
        run: julia --project bootstrap.jl
        if: github.event_name == 'pull_request'
      - name: "Bootstrap GBIF"
        if: github.event_name == 'pull_request'
        run: julia --project=docs bootstrap.jl && julia --project=docs/ -e 'using Pkg; Pkg.develop(path=".")'
        working-directory: GBIF/
      - name: "Instantiate GBIF documentation"
        run: julia --project=docs/ -e 'using Pkg; Pkg.instantiate()'
        working-directory: GBIF/
      - name: "Build GBIF documentation"
        run: julia --project=GBIF/docs/ GBIF/docs/make.jl
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Bootstrap Phylopic"
        if: github.event_name == 'pull_request'
        run: julia --project=docs bootstrap.jl && julia --project=docs/ -e 'using Pkg; Pkg.develop(path=".")'
        working-directory: Phylopic/
      - name: "Instantiate Phylopic documentation"
        run: julia --project=docs/ -e 'using Pkg; Pkg.instantiate()'
        working-directory: Phylopic/
      - name: "Build Phylopic documentation"
        run: julia --project=Phylopic/docs/ Phylopic/docs/make.jl
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Bootstrap SimpleSDMDatasets"
        if: github.event_name == 'pull_request'
        run: julia --project=docs bootstrap.jl && julia --project=docs/ -e 'using Pkg; Pkg.develop(path=".")'
        working-directory: SimpleSDMDatasets/
      - name: "Instantiate SimpleSDMDatasets documentation"
        run: julia --project=docs/ -e 'using Pkg; Pkg.instantiate()'
        working-directory: SimpleSDMDatasets/
      - name: "Build SimpleSDMDatasets documentation"
        run: julia --project=SimpleSDMDatasets/docs/ SimpleSDMDatasets/docs/make.jl
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Bootstrap Fauxcurrences"
        if: github.event_name == 'pull_request'
        run: julia --project=docs bootstrap.jl && julia --project=docs/ -e 'using Pkg; Pkg.develop(path=".")'
        working-directory: Fauxcurrences/
      - name: "Instantiate Fauxcurrences documentation"
        run: julia --project=docs/ -e 'using Pkg; Pkg.instantiate()'
        working-directory: Fauxcurrences/
      - name: "Build Fauxcurrences documentation"
        run: julia --project=Fauxcurrences/docs/ Fauxcurrences/docs/make.jl
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Bootstrap SimpleSDMLayers"
        if: github.event_name == 'pull_request'
        run: julia --project=docs bootstrap.jl && julia --project=docs/ -e 'using Pkg; Pkg.develop(path=".")'
        working-directory: SimpleSDMLayers/
      - name: "Instantiate SimpleSDMLayers documentation"
        run: julia --project=docs/ -e 'using Pkg; Pkg.instantiate()'
        working-directory: SimpleSDMLayers/
      - name: "Build SimpleSDMLayers documentation"
        run: julia --project=SimpleSDMLayers/docs/ SimpleSDMLayers/docs/make.jl
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-docdeploy@v1
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}