name: TagBot
on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
    inputs:
      lookback:
        default: "3"
permissions:
  actions: read
  checks: read
  contents: write
  deployments: read
  issues: read
  discussions: read
  packages: read
  pages: read
  pull-requests: read
  repository-projects: read
  security-events: read
  statuses: read
jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - name: Tag SDT
        uses: JuliaRegistries/TagBot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ssh: ${{ secrets.DOCUMENTER_KEY }}
      - name: Tag GBIF
        uses: JuliaRegistries/TagBot@v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            ssh: ${{ secrets.DOCUMENTER_KEY }}
            subdir: GBIF
      - name: Tag SSL
        uses: JuliaRegistries/TagBot@v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            ssh: ${{ secrets.DOCUMENTER_KEY }}
            subdir: SimpleSDMLayers
      - name: Tag SSD
        uses: JuliaRegistries/TagBot@v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            ssh: ${{ secrets.DOCUMENTER_KEY }}
            subdir: SimpleSDMDatasets
      - name: Tag Phylopic
        uses: JuliaRegistries/TagBot@v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            ssh: ${{ secrets.DOCUMENTER_KEY }}
            subdir: Phylopic
      - name: Tag Fauxcurrences
        uses: JuliaRegistries/TagBot@v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            ssh: ${{ secrets.DOCUMENTER_KEY }}
            subdir: Fauxcurrences
      - name: Tag SDeMo
        uses: JuliaRegistries/TagBot@v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            ssh: ${{ secrets.DOCUMENTER_KEY }}
            subdir: SDeMo
      - name: Tag OccurrencesInterface
        uses: JuliaRegistries/TagBot@v1
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            ssh: ${{ secrets.DOCUMENTER_KEY }}
            subdir: OccurrencesInterface
    
